<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>

<!-- <leaflet ng-if="document && mapOptions" options="mapOptions" class="coverage-map"></leaflet> -->
<div leaflet-map id="map2" polygon="{{ polygon }}" style="height: 300px;"></div>

 <!--<div id="mapid2"></div> -->
 <p><i>&nbsp;&nbsp;Please note: Area is subjected to population fluctuations and estimate year/type.</i> </p>

<!-- <map opt="opt" /> -->
<div class="np-padding">

  <div ng-if="document" class="np-doc">
 <h1>
  <span class="md-display-2">{{ document.colony_name }} </span><span style={font-size:15%}>
  [{{document.species}}]</span></h1>


  <section>
      <p ><md-icon>place</md-icon>
          <span ng-if="document.colony_alternative_name">{{document.colony_alternative_name}},</span>
          {{document.zone}}<span ng-if="document.zone && document.region">,</span>
         {{document.region}}
      </p>
    </section>

    <section>
      <md-divider></md-divider>
      <h3>Count information</h3>
    <span ng-if="document.start_date"><b>Start date counting:</b> {{(document.start_date).substr(0,10)}}<br /></span>
    <span ng-if="document.end_date"><b>End date counting:</b> {{(document.end_date).substr(0,10)}}<br /></span>
    <span ng-if="document.mean"><b>Mean count value for the species in the colony:</b> {{document.mean}}<br /></span>
    <span ng-if="document.max"><b>Max count value for the species in the colony:</b> {{document.max}}<br /></span>
    <span ng-if="document.min"><b>Min count value for the species in the colony:</b> {{document.min}}<br /></span>
    <span ng-if="document.accuracy"><b>Count accuracy:</b> {{document.accuracy}}<br /></span>
    <span ng-if="document.unit"><b>Counted unit:</b> {{document.unit}}<br /></span>
    <span ng-if="document.method"><b>Counted method:</b> {{document.method}}<br /></span>
    <span ng-if="document.platform"><b>Counted from platform:</b> {{document.platform}}<br /></span>
    <span ng-if="document.breeding"><b>Breeding stage:</b> {{document.breeding}}<br /></span>
    <span ng-if="document.count_comment"><b>Comment about the count:</b> {{document.count_comment}}<br /></span>
    </section>

   <section>
     <md-divider></md-divider>
     <h3>Location information</h3>
      <span ng-if="document.location_accuracy"><b>Location accuracy:</b> {{document.location_accuracy}}<br /></span>
      <span ng-if="document.conservation_type"><b>Conservation type:</b> {{document.conservation_type}}<br /></span>
      <span ng-if="document.colony_type"><b>Colony type:</b> {{document.colony_type}}<br /></span>
      <span ng-if="document.ownership"><b>Land ownership:</b> {{document.ownership}}<br /></span>
      <span ng-if="document.island"><b>Name of island:</b> {{document.island}}<br /></span>
      <span ng-if="document.island_size"><b>Size of island:</b> {{document.island_size}}<br /></span>
      <span ng-if="document.island_archipelago"><b>Name of archipelago:</b> {{document.island_archipelago}}<br /></span>
      <span ng-if="document.length"><b>Colony length:</b> {{document.length}}<br /></span>
      <span ng-if="document.distance"><b>Distance colony to coastline:</b> {{document.distance}}<br /></span>
      <span ng-if="document.distance_mainland"><b>Distance from colony to mainland:</b> {{document.distance_mainland}}<br /></span>
      <span ng-if="document.exposure"><b>Colony exposure (orientation):</b> {{document.exposure}}<br /></span>
      <span ng-if="document.area"><b>Area of cliff wall:</b> {{document.area}}<br /></span>
      <span ng-if="document.predators"><b>Predators in the colony:</b> {{document.predators}}<br /></span>
      <span ng-if="document.map"><b>The map that shows the colony place:</b> {{document.map}}<br /></span>
</section>
<section>
      <md-divider></md-divider>
      <h3>Reference (where the colony first was mentioned)</h3>
      <span ng-if="document.colony_reference.authors"><b>Authors:</b> {{document.colony_reference.authors}}<br /></span>
      <span ng-if="document.colony_reference.title"><b>Title:</b> {{document.colony_reference.title}}<br /></span>
      <span ng-if="document.colony_reference.journal"><b>Journal:</b> {{document.colony_reference.journal}}<br /></span>
      <span ng-if="document.colony_reference.year"><b>Year:</b> {{document.colony_reference.year}}<br /></span>
      <span ng-if="document.colony_reference.volume"><b>Volume:</b> {{document.colony_reference.volume}}<br /></span>
      <span ng-if="document.colony_reference.pages"><b>Pages:</b> {{document.colony_reference.pages}}<br /></span>
      <span ng-if="document.comfirmed"><b>Year the colony first were confirmed:</b>{{document.confirmed}}<br /></span>
      <span ng-if="document.historical_colony"><b>Where the colony first were described:</b>{{document.historical_colony}}<br /></span>
</section>

<section>
    <span ng-if="document.species">
      <span ng-if="document.species === 'Kittiwake'"><a href="http://www.npolar.no/en/species/black-legged-kittiwake.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Common Eider'"><a href="http://www.npolar.no/en/species/common-eider.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Glaucous Gull'"><a href="http://www.npolar.no/en/species/glaucous-gull.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Black Guillemot'"><a href="http://www.npolar.no/en/species/black-guillemot.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Brünnich's Guillemot'"><a href="http://www.npolar.no/en/species/brunnichs-guillemot.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Little Auk'"><a href="http://www.npolar.no/en/species/little-auk.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Arctic Tern'"><a href="http://www.npolar.no/en/species/arctic-tern.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Fulmar'"><a href="http://www.npolar.no/en/species/northern-fulmar.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Barnacle Goose'"><a href="http://www.npolar.no/en/species/barnacle-geese.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Puffin'"><a href="http://www.npolar.no/en/species/atlantic-puffin.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Brent Goose'"><a href="http://www.npolar.no/en/species/brent-goose.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Ivory Gull'"><a href="http://www.npolar.no/en/species/ivory-gull.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Greater Black-backed Gull'"><a href="http://www.npolar.no/en/species/">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Pink-footed Goose'"><a href="http://www.npolar.no/en/species/pink-footed-goose.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Great Skua'"><a href="http://www.npolar.no/en/species/great-skua.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Common Guillemot'"><a href="http://www.npolar.no/en/species/common-guillemot.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'King Eider'"><a href="http://www.npolar.no/en/species/king-eider.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Sabine's Gull'"><a href="http://www.npolar.no/en/species/sabines-gull.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Razorbill'"><a href="http://www.npolar.no/en/species/razorbill.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Herring Gull'"><a href="http://www.npolar.no/en/species/herring-gull.html">MOSJ Reference</a></span>
      <span ng-if="document.species === 'Lesser Black-backed Gull'"><a href="http://www.npolar.no/en/species/">MOSJ Reference</a></span>
    </span>
</section>

  <md-divider></md-divider>
<!-- created updated -->
      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>

    </div>
</div>
